.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  background-color: rgb(27, 50, 82);
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 0 5px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 0px;
  border-radius: 6px;
  border: 1px solid rgb(209, 213, 219);
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
